language: python

python: "2.7"

sudo: false

cache:
    directories:
        - $HOME/.cache/pip
        - _build

install: pip install sphinx==1.1.3

script: sphinx-build -nW -b html -d _build/doctrees . _build/html

branches:
  except:
    - github-comments
