language: python

python: "2.7"

sudo: false

addons:
    apt_packages:
        - enchant

cache:
    directories:
        - $HOME/.cache/pip
        - _build

install: pip install -r requirements.txt --use-mirrors -q

script: 
    - sphinx-build -nW -b html -d _build/doctrees . _build/html
    - make spelling
    - cat _build/spelling/output.txt | sed -e 's/.*(\(.*\))/\1/g' | sort | uniq

branches:
  except:
    - github-comments
